:root {
    --primary-light: #FFD369;
    --primary-dark: #222831;
	--secondary-light: #ffd0d9; /*#E69F68;*/
	--secondary-dark: #393E46;
	--primary-white: #FFFFFF;
	--secondary-white: #F0F0F0;
	--grey-light: #C2C2C2;
	--grey-dark: #666666;
	
	--tag-00: rgba(255, 255, 255, 0);
	--tag-05: rgba(255, 255, 255, 0.5);
	
	--heading: Playfair Display;
	--body: Work Sans;
	
	--large-size: 50px;
	--big-size: 24px;
	--heading-size: 20px;
	--body-size: 14px;
}

html {
	height: 100%;
}

body {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-color: var(--primary-dark);
	font-family: var(--body);
}

#bg-container {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 0;
}

#background {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	align-items: baseline;

	position: absolute;
	width: 135%;
	height: 140%;
	right: -5%;
	top: -16%;
	font-family: Playfair Display;
	
	background-color: var(--primary-dark);
}

#background > * {
	padding: 0px 10px;
	margin: 0px 8px;
	line-height: 0.9;
	background-color: var(--tag-00);
}

#background > *:hover {
	cursor: pointer;
	background-color: var(--tag-05);
	transition: .3s;
}

#background > .gradient {
	color: var(--primary-light);
	background: linear-gradient(to right, var(--primary-light) 0%, var(--secondary-light) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#background > .gradient:hover {
	color: var(--primary-light);
	background: var(--tag-05);
	-webkit-background-clip: "";
	-webkit-text-fill-color: var(--primary-light);
}

#main-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	pointer-events:none;
}

#left {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	
	padding: 70px 7% 120px;
	width: 46%;
	height: calc(100% - 190px);
	
	background: linear-gradient(141deg, rgba(57, 62, 70, 0.2) 0%, rgba(102, 102, 102, 0.2) 100%);
	backdrop-filter: blur(20px);

	pointer-events:auto;
}

@-moz-document url-prefix() {
	#left {
		background: linear-gradient(141deg, rgba(57, 62, 70, 0.8) 0%, rgba(102, 102, 102, 0.8) 100%);
	}
}


#searchbox {
	margin-top: 40px;
}


#right {
	display: inline-block;
	position: absolute;
	right: 0%;
	width: 40%;
	height: 100%;
	
	overflow: hidden;
	pointer-events:auto;
}

#right:hover{
	overflow-y: overlay;
	overflow-x: hidden;
	-webkit-transition: .4s;
	transition: .4s;
}

@-moz-document url-prefix() {
	#right:hover  {
		overflow-y: scroll;
	}
}


#hits {
	width: 100%;
}

/* TEXT STYLES */
.light {
	color: var(--secondary-white);
}

.grey {
	color: var(--grey-dark);
}

.body {
	font-size: var(--body-size);
	font-family: var(--body);
}

.large {
	font-size: var(--large-size);
	font-family: var(--heading);
}

.heading {
	font-size: var(--heading-size);
	font-family: var(--body);
}

/*SCROLLY SCROLL */
/* TODO */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--secondary-dark) none;
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
	background: none;
}

*::-webkit-scrollbar-thumb {
	border-radius: 20px;
    border: 5px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	background-color: var(--secondary-dark);
}

/* selection */
::selection {
    background-color: var(--grey-dark);
    color: var(--primary-white);
}

::-moz-selection {
    background-color: var(--grey-dark);
    color: var(--primary-white);
}

::-o-selection {
    background-color: var(--grey-dark);
    color: var(--primary-white);
}

::-ms-selection {
    background-color: var(--grey-dark);
    color: var(--primary-white);
}

::-webkit-selection {
    background-color: var(--grey-dark);
    color: var(--primary-white);
}

/* HIDDEN */
.hidden {
	display: none !important;
}